<!--
Use this template for rendering all the other html files
-->
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'jail/style.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<nav>
    <div class="tabs">
        <a href="{% url 'site_home' %}" class="navlink">Home</a>
        <a href="{% url 'criminal_home' %}" class="navlink">Criminal</a>
        <a href="{% url 'alias_home' %}" class="navlink">Alias</a>
        <a href="{% url 'crime_home' %}" class="navlink">Crime</a>
        <a href="{% url 'probation_officer_home' %}" class="navlink">Probation Officer</a>
        <a href="{% url 'sentence_home' %}" class="navlink">Sentence</a>
        <a href="{% url 'crime_code_home' %}" class="navlink">Crime Code</a>
        <a href="{% url 'crime_charge_home' %}" class="navlink">Crime Charge</a>
        <a href="{% url 'officer_home' %}" class="navlink">Officer</a>
        <a href="{% url 'appeal_home' %}" class="navlink">Appeal</a>
        <a href="{% url 'crime_officer_home' %}" class="navlink">Crimes & Officers</a>
    </div>

    <div class="loginsignup">
        {% if request.session.user %}
            <span>Hello,&nbsp;</span>
            {{ request.session.user.username }}
            !&nbsp;|&nbsp;
            <a href="/signout/" style="color: #EEEEEE"> SIGN OUT</a>
        {% else %}
            <a href="/login/" style="color: #EEEEEE">LOGIN</a>
            |
            <a href="/signup/" style="color: #EEEEEE"> SIGN UP</a>
        {% endif %}
        
    </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>
