{% extends 'template.html' %}  

{% block content %}
<table>
    <thead>
        <tr>
            <th>
                <a href="?sort=name&order={% if current_sort == 'name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                    {% if current_sort == 'name' %}
                        {% if current_order == 'asc' %}↓{% else %}↑{% endif %}
                    {% endif %}
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for appeal in appeal_list %}
        <tr>
            <td>{{ appeal.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
