{% extends 'template.html' %}

{% block title %}
    Crime: {{ object.crime_id }}
{% endblock %}

{% block body %}
    <h1>Crime ({{ object.crime_id }})</h1>

    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Criminal ID</td>
            <td>Classification</td>
            <td>Date Charged</td>
            <td>Status</td>
            <td>Hearing Date</td>
            <td>Appeal Cut-off Date</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tr>
            <td>{{ object.crime_id }}</td>
            <td><a href="{% url 'criminal_detail' object.criminal.criminal_id %}">{{ object.criminal }}</a></td>
            <td>{{ object.classification }}</td>
            <td>{{ object.date_charged }}</td>
            <td>{{ object.status }}</td>
            <td>{{ object.hearing_date }}</td>
            <td>{{ object.appeal_cut_date }}</td>
            <td><a href="{% url 'crime_update' object.crime_id %}">Edit</a></td>
            <td><a href="{% url 'crime_delete' object.crime_id %}">Delete</a></td>
        </tr>
    </table>

    <div>
        <h2>Crime Charges</h2>

        {% if crime_charge_list %}
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Crime Code</td>
                    <td>Charge Status</td>
                    <td>Fine Amount</td>
                    <td>Court Fee</td>
                    <td>Amount Paid</td>
                    <td>Pay Due Date</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                {% for crime_charge in crime_charge_list %}
                    <tr>
                        <td>{{ crime_charge.charge_id }}</td>
                        <td>
                            <a href="{% url 'crime_code_detail' crime_charge.crime_code.crime_code %}">{{ crime_charge.crime_code }}</a>
                        </td>
                        <td>{{ crime_charge.charge_status }}</td>
                        <td>{{ crime_charge.fine_amount }}</td>
                        <td>{{ crime_charge.court_fee }}</td>
                        <td>{{ crime_charge.amount_paid }}</td>
                        <td>{{ crime_charge.pay_due_date }}</td>
                        <td><a href="{% url 'crime_charge_update' crime_charge.charge_id %}">Edit</a></td>
                        <td><a href="{% url 'crime_charge_delete' crime_charge.charge_id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No crime charges found</p>
        {% endif %}
    </div>

    <div>
        <!-- Officers associated with this crime -->
        <h2>Officers</h2>

        {% if crime_officer_list %}
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Last Name</td>
                    <td>First Name</td>
                    <td>Precinct</td>
                    <td>Badge</td>
                    <td>Phone</td>
                    <td>Status</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                {% for crime_officer in crime_officer_list %}
                    <tr>
                        <td>
                            <a href="{% url 'officer_detail' crime_officer.officer.officer_id %}">
                                {{ crime_officer.officer.officer_id }}
                            </a>
                        </td>
                        <td>{{ crime_officer.officer.last_name }}</td>
                        <td>{{ crime_officer.officer.first_name }}</td>
                        <td>{{ crime_officer.officer.precinct }}</td>
                        <td>{{ crime_officer.officer.badge }}</td>
                        <td>{{ crime_officer.officer.phone }}</td>
                        <td>{{ crime_officer.officer.status }}</td>
                        <td><a href="{% url 'officer_update' crime_officer.officer.officer_id %}">Edit</a></td>
                        <td><a href="{% url 'officer_delete' crime_officer.officer.officer_id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No officers found</p>
        {% endif %}
    </div>

    <div>
        <h2>Appeals</h2>
        {% if appeal_list %}
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Filing Date</td>
                    <td>Hearing Date</td>
                    <td>Status</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                {% for appeal in appeal_list %}
                    <tr>
                        <td>{{ appeal.appeal_id }}</td>
                        <td>{{ appeal.filing_date }}</td>
                        <td>{{ appeal.hearing_date }}</td>
                        <td>{{ appeal.status }}</td>
                        <td><a href="{% url 'appeal_update' appeal.appeal_id %}">Edit</a></td>
                        <td><a href="{% url 'appeal_delete' appeal.appeal_id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No appeals found</p>
        {% endif %}

    </div>

    <div>
        <a href="{% url 'crime_home' %}">
            <button>All Crimes</button>
        </a>
    </div>
{% endblock %}
