{% extends 'template.html' %}

{% block title %}
    Update Crime: {{ object.crime_id }}
{% endblock %}

{% block body %}
    <h1>Update Crime ({{ crime.crime_id }}) for {{ object.criminal.first_name }} {{ object.criminal.last_name }} ({{ object.criminal.criminal_id }})</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

    <a href="{% url 'crime_detail' object.crime_id %}">
        <button>Cancel</button>
    </a>
{% endblock %}
