{% extends 'template.html' %}

{% block title %}
    Delete Officer: {{ object.officer_id }}
{% endblock %}

{% block body %}
    <h1>Delete Officer</h1>

    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete {{ object.first_name }} {{ object.last_name }} ({{ object.officer_id }})?</p>
        {{ form }}
        <input type="submit" value="Confirm">
    </form>

    <a href="{% url 'officer_detail' object.officer_id %}">
        <button>Cancel</button>
    </a>
{% endblock %}
