{% extends 'template.html' %}

{% block title %}
    Add Criminal
{% endblock %}

{% block body %}
    <h1 class="title"> City Jail Database </h1>
<div class="login-div">
    <div style="margin-bottom: 20px; color: #0c63e4">
        <h2>LOGIN</h2>
        <input type="hidden" id="crsf" value="{{ csrf_token }}"/>
    </div>
    <div class="login-item">
        <div class="label">
            <label for="username">Username</label>
        </div>
        <div>
            <input type="text" class="" id="username" placeholder="Enter Username">
        </div>
    </div>
    <div class="login-item">
        <div class="label">
            <label for="password">Password</label>
        </div>
        <div>
            <input type="password" class="" id="password" placeholder="Enter Password">
        </div>
    </div>
    <div class="btns">
        <button onclick="tosignup()">Signup</button>
        <button class="Login" onclick="login()">→</button>
    </div>
</div>
<script>
    function tosignup() {
        window.location.href = '/signup/'
    }

    function login() {
        fetch('/login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
            })
        })
        .then(response => {
            if (!response.ok) {
                response.json().then(data => {
                    alert(data.message)
                }).catch(error => {
                    console.error(error);
                });
            }else{
                window.location.href = '/'
            }
        })
        .then(data => {
            window.location.href = '/'
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}
