

<!--
Use this template for rendering all the other html files
-->
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'jail/style.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<div class="login-div">
    <div style="margin-bottom: 20px; color: #0c63e4">
        <h2 style="color: #222831;">SIGNUP</h2>
        <input type="hidden" id="crsf" value="{{ csrf_token }}"/>
    </div>
    <div class="login-item">
        <div class="label">
            <label style="color: #222831;" for="username">Username</label>
        </div>
        <div>
            <input type="text" class="" id="username" placeholder="Enter Username">
        </div>
    </div>
    <div class="login-item">
        <div class="label">
            <label style="color: #222831;" for="password">Password</label>
        </div>
        <div>
            <input type="password" class="" id="password" placeholder="Enter Password">
        </div>
    </div>
    <div class="btns">
        <button style="background: #222831" onclick="tologin()">LOGIN</button>
        <button class="Login" onclick="signup()">→</button>
    </div>
</div>
<script>
    function tologin() {
        window.location.href = '/login/'
    }

    function signup() {
        fetch('/signup/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
            })
        })
        .then(response => {
            if (!response.ok) {
                alert(response.json().message)
                throw new Error('was not ok');
            }
            return response.json();
        })
        .then(data => {
            window.location.href = '/login/'
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
{% block body %}
{% endblock %}
</body>
</html>
