{% extends 'template.html' %}

{% block title %}
    Delete Sentence: {{ object.sentence_id }}
{% endblock %}

{% block body %}
    <h1>Delete Sentence</h1>

    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete the Sentence ({{ object.sentence_id }})
            for {{ object.criminal.first_name }} {{ object.criminal.last_name }} ({{ object.criminal_id }})?</p>
        {{ form }}
        <input type="submit" value="Confirm">
    </form>

    <a href="{% url 'sentence_home' %}">
        <button>Cancel</button>
    </a>
{% endblock %}
